
    <header>
      <h1>About Us</h1>
    </header>
    
    <main class="container my-5">
        <section>
          <h2 class="text-center mb-4">Our Story</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Since 1990, our family-owned Italian restaurant has been serving delicious, authentic Italian cuisine to the local community. Our recipes have been passed down from generation to generation, ensuring that every dish we serve is made with love and care.</p>
              <p>Whether you're in the mood for classic pasta dishes, wood-fired pizzas, or fresh seafood, we have something for everyone. We also offer an extensive wine list featuring some of the best Italian wines available.</p>
              <p>At our restaurant, we believe that good food brings people together. That's why we strive to create a warm and welcoming atmosphere where you can enjoy a delicious meal with your loved ones.</p>
            </div>
            <div class="col-md-6">
              <img src="https://images.unsplash.com/photo-1489564239502-7a532064e1c2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="Our team" class="img-fluid">
            </div>
          </div>
        </section>
        
        <section>
          <h2 class="text-center my-4">Our Team</h2>
          <div class="row">
            <div class="col-md-6">
              <img src="https://images.unsplash.com/photo-1502444330042-d1a1ddf9bb5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2373&q=80" alt="Our team" class="img-fluid">
            </div>
            <div class="col-md-6">
              <p>Our team is made up of passionate and experienced chefs, servers, and bartenders who are dedicated to providing you with the best possible dining experience. We take pride in our work and are committed to making sure that every guest leaves our restaurant feeling satisfied and happy.</p>
            </div>
          </div>
        </section>
        
        <section>
          <h2 class="text-center my-4">Our Restaurant</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Our restaurant is located in the heart of the city and features a cozy and inviting atmosphere. We offer both indoor and outdoor seating, so you can enjoy your meal in the comfort of our dining room or outside on our beautiful patio.</p>
            </div>
            <div class="col-md-6">
              <img src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Our restaurant" class="img-fluid">
            </div>
          </div>
        </section>
      </main>